Q1). Explain with an example each when to use a for loop and a while loop.
Ans-Loop are an essential construct an all progamming language.In a loop structure ,the program first checks for a condition,if this condition is true,some peice of code is run. This code will keep on running unless the condition becomes invalid .
                                          Types of loop
 1)For loop - A loop is a type of loop that runs for a present number times.It also has the ability to ilterate over the items of any sequence, such as a list or a string     
example:

In [3]:
    
    l=[1,2,3,4,5,6]
    for i in l:
        print(i)

1
2
3
4
5
6

2.While loop -with the while loop we can execute a set of statments as long as a condition is true 
ex:

In [1]:
a=5
while a <=10:
    print(a)
    a=a+1

5
6
7
8
9
10

Q2).Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.
                                  while loop (sum)

In [8]:

a=1
while a <=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

                                        while loop (product)

In [13]:
n=int(input("enter your number"))
i=1
while i <=10:
    result=n*i
    print(n,"*",i,"=",result)
    i =i+1

enter your number 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

                                        For loop (sum)

In [18]:
l=[1,2,3,4,5,6,7,8,9,10]

1
2
3
4
5
6
7
8
9
10

In [19]:
sum(l)

55

In [ ]:
                                      For loop (product)

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]

Q2). Create a python program to compute the electricity bill for a household.

1.For the first 100 units, the user will be charged Rs. 4.5 per units

In [2]:
units = int(input("Enter the units of electricity consumed: "))

if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Total electricity bill: Rs. {:.2f}".format(bill))

Enter the units of electricity consumed:  310

Total electricity bill: Rs. 2250.00

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [1]:
num=1
while num <=100:
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
n=1
while n<=100:
    print("cube of",n,"is",n*n)
    n=n+1

cube of 1 is 1
cube of 2 is 4
cube of 3 is 9
cube of 4 is 16
cube of 5 is 25
cube of 6 is 36
cube of 7 is 49
cube of 8 is 64
cube of 9 is 81
cube of 10 is 100
cube of 11 is 121
cube of 12 is 144
cube of 13 is 169
cube of 14 is 196
cube of 15 is 225
cube of 16 is 256
cube of 17 is 289
cube of 18 is 324
cube of 19 is 361
cube of 20 is 400
cube of 21 is 441
cube of 22 is 484
cube of 23 is 529
cube of 24 is 576
cube of 25 is 625
cube of 26 is 676
cube of 27 is 729
cube of 28 is 784
cube of 29 is 841
cube of 30 is 900
cube of 31 is 961
cube of 32 is 1024
cube of 33 is 1089
cube of 34 is 1156
cube of 35 is 1225
cube of 36 is 1296
cube of 37 is 1369
cube of 38 is 1444
cube of 39 is 1521
cube of 40 is 1600
cube of 41 is 1681
cube of 42 is 1764
cube of 43 is 1849
cube of 44 is 1936
cube of 45 is 2025
cube of 46 is 2116
cube of 47 is 2209
cube of 48 is 2304
cube of 49 is 2401
cube of 50 is 2500
cube of 51 is 2601
cube of 52 is 2704
cube of 53 is 2809
cube of 54 is 2916
cube of 55 is 3025
cube of 56 is 3136
cube of 57 is 3249
cube of 58 is 3364
cube of 59 is 3481
cube of 60 is 3600
cube of 61 is 3721
cube of 62 is 3844
cube of 63 is 3969
cube of 64 is 4096
cube of 65 is 4225
cube of 66 is 4356
cube of 67 is 4489
cube of 68 is 4624
cube of 69 is 4761
cube of 70 is 4900
cube of 71 is 5041
cube of 72 is 5184
cube of 73 is 5329
cube of 74 is 5476
cube of 75 is 5625
cube of 76 is 5776
cube of 77 is 5929
cube of 78 is 6084
cube of 79 is 6241
cube of 80 is 6400
cube of 81 is 6561
cube of 82 is 6724
cube of 83 is 6889
cube of 84 is 7056
cube of 85 is 7225
cube of 86 is 7396
cube of 87 is 7569
cube of 88 is 7744
cube of 89 is 7921
cube of 90 is 8100
cube of 91 is 8281
cube of 92 is 8464
cube of 93 is 8649
cube of 94 is 8836
cube of 95 is 9025
cube of 96 is 9216
cube of 97 is 9409
cube of 98 is 9604
cube of 99 is 9801
cube of 100 is 10000

In [9]:
numbers = []
for i in range(1, 101):
    numbers.append(i)

cubes = []
for num in numbers:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(num)

print("For Loop:", cubes)

For Loop: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [12]:
cube_list = []

for num in range(1, 101):
    cube = num ** 3
    print(cube)
    if cube % 4 == 0 or cube % 5 == 0:
        print(num)
        cube_list.append(num)

print(cube_list)

1
8
2
27
64
4
125
5
216
6
343
512
8
729
1000
10
1331
1728
12
2197
2744
14
3375
15
4096
16
4913
5832
18
6859
8000
20
9261
10648
22
12167
13824
24
15625
25
17576
26
19683
21952
28
24389
27000
30
29791
32768
32
35937
39304
34
42875
35
46656
36
50653
54872
38
59319
64000
40
68921
74088
42
79507
85184
44
91125
45
97336
46
103823
110592
48
117649
125000
50
132651
140608
52
148877
157464
54
166375
55
175616
56
185193
195112
58
205379
216000
60
226981
238328
62
250047
262144
64
274625
65
287496
66
300763
314432
68
328509
343000
70
357911
373248
72
389017
405224
74
421875
75
438976
76
456533
474552
78
493039
512000
80
531441
551368
82
571787
592704
84
614125
85
636056
86
658503
681472
88
704969
729000
90
753571
778688
92
804357
830584
94
857375
95
884736
96
912673
941192
98
970299
1000000
100
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [20]:
t=("I want to become a data scientist")
len(t)

33

In [14]:
l=("I want to become a data scientist")

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print